.data {
    width: 18rem;
    height: 9rem;
}

.service-img {
    width: 215px!important;
    height: 200px!important;
}

@media (max-width: 992px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        aside {
            width: 80%;
            img {
                width: 85px!important;
                height: 80px!important;
            }
        }

        .data-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
        }

        .service-container {
            display: flex;
            flex-direction: column;
        }
    }
}