.gradient {
    background: rgb(42,0,126);
    background: linear-gradient(80deg, rgba(42,0,126,1) 6%, rgba(50,0,150,1) 42%, rgba(26,0,77,0.5942752100840336) 84%, rgba(0,0,0,0) 100%);
}

.check-icon {
    color: green;
}

.uncheck-icon {
    color: red;
}

@media (max-width: 992px) {
    .products {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }
}